/*---*/
h1
{
	text-align: center;
	/*color: red !important;*/
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: yellow;
}
#btn:hover {
  background-color: red !important;
}
/*ho so nhan vien*/
#table
{
	padding-left: 50px;
  text-align: center;
}
